---
title: About

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/simple' %}

{% block content/main %}

<section class="feature-box clearfix">
    <div class="image"></div>
    <div class="text">
      <h3>Financial Experts<span>providing the best financial consultants</span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi           architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione     voluptatem sequi nesciunt, neque porro quisquam est</p>
      <p class="btn-cons"><a href="#">Read More</a></p>
    </div>
  </section>

  <!-- Services -->
  <section class="feature-box-right clearfix">
    <div class="image"></div>
    <div class="text">
      <h3>Financial Experts<span>providing the best financial consultants</span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi           architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione     voluptatem sequi nesciunt, neque porro quisquam est</p>
      <p class="btn-cons"><a href="#">Read More</a></p>
    </div>
  </section>

  <!-- Services -->
  <section class="feature-box clearfix">
    <div class="image"></div>
    <div class="text">
      <h3>Financial Experts<span>providing the best financial consultants</span></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi           architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione     voluptatem sequi nesciunt, neque porro quisquam est</p>
      <p class="btn-cons"><a href="#">Read More</a></p>
    </div>
  </section>


  <!-- Services -->
  <section class="services-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><h2 class="title">The Midwest Difference</h2></div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-clipboard"></i>
            <div class="text">
              <h3>Accumulation</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-arrow-graph-up-right"></i>
            <div class="text">
              <h3>Taxation</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-android-alarm-clock"></i>
            <div class="text">
              <h3>Risk Management</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-wand"></i>
            <div class="text">
              <h3>Estate Planning</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-easel"></i>
            <div class="text">
              <h3>Retirement Planning</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box">
            <i class="ion-android-globe"></i>
            <div class="text">
              <h3>Business Planning</h3>
              <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Testimonial -->
  <section class="testimonial-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title center">1000+ Happy Clients</h2>
          <div class="wrapper">
            <div class="testimonial" data-items="2" data-itemsdesktop="2" data-itemsdesktopsmall="2" data-itemstablet="1" data-itemsmobile="1" data-slidespeed="1" data-autoplay="true" data-nav="true" data-pagination="true">
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar01.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
              </div>
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar02.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
              </div>
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar01.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
              </div>
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar02.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
              </div>
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar01.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Brandon Copperfield</span><span class="position">Customer Service</span></p>
              </div>
              <div class="item">
                <p class="image"><img src="images/pages/client_avatar02.jpg" alt="client"></p>
                <p class="text">Wope Themes produces high quality themes and they provide support excellent support if you run into any problems. I recommend this template without hesitation!<span class="name">Peter Himmelman</span><span class="position">Human Resources</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
